rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /caseStudies/{caseStudyId} {
      allow read, write: if true;
    }
    match /customerStandards/{standardId} {
      allow read, write: if true;
    }
    match /employees/{employeeId} {
      allow read, write: if true;
    }
    match /assignments/{assignmentId} {
      allow read, write: if true;
    }
    match /submissions/{submissionId} {
      allow read, write: if true;
    }
    match /departments/{departmentId} {
      allow read, write: if true;
    }
    match /test/{docId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
